<?xml version="1.0"?>
<settings>
	<setting name="AllowOnlyOneInstance">0</setting>
	<setting name="CloseOnEscape">0</setting>
	<setting name="ColorBackgroundProcesses">bcbc78</setting>
	<setting name="ColorCpuKernel">ff00</setting>
	<setting name="ColorCpuUser">ff</setting>
	<setting name="ColorDebuggedProcesses">ffbbcc</setting>
	<setting name="ColorDotNet">ffde</setting>
	<setting name="ColorEfficiencyMode">80ff00</setting>
	<setting name="ColorElevatedProcesses">aaff</setting>
	<setting name="ColorFanRpm">ff0077</setting>
	<setting name="ColorGuiThreads">77ffff</setting>
	<setting name="ColorHandleFiltered">0</setting>
	<setting name="ColorImmersiveProcesses">cbc0ff</setting>
	<setting name="ColorInheritHandles">ffff77</setting>
	<setting name="ColorInlineThreadStack">ffde</setting>
	<setting name="ColorIoReadOther">ffff</setting>
	<setting name="ColorIoWrite">ff0077</setting>
	<setting name="ColorJobProcesses">3f85cd</setting>
	<setting name="ColorLowImageCoherency">ff14b9</setting>
	<setting name="ColorNew">ff7f</setting>
	<setting name="ColorOwnProcesses">aaffff</setting>
	<setting name="ColorPacked">9314ff</setting>
	<setting name="ColorPartiallySuspended">c0c0c0</setting>
	<setting name="ColorPhysical">ff8000</setting>
	<setting name="ColorPicoProcesses">ff8000</setting>
	<setting name="ColorPowerUsage">ff00</setting>
	<setting name="ColorPrivate">77ff</setting>
	<setting name="ColorProtectedHandles">777777</setting>
	<setting name="ColorProtectedInheritHandles">c0c0c0</setting>
	<setting name="ColorProtectedProcess">ff8080</setting>
	<setting name="ColorRelocatedModules">80c0ff</setting>
	<setting name="ColorRemoved">283cff</setting>
	<setting name="ColorServiceDisabled">6d6d6d</setting>
	<setting name="ColorServiceProcesses">ffffcc</setting>
	<setting name="ColorServiceStop">6d6d6d</setting>
	<setting name="ColorSuspended">777777</setting>
	<setting name="ColorSystemProcesses">ffccaa</setting>
	<setting name="ColorSystemThreadStack">ffccaa</setting>
	<setting name="ColorTemperature">ff</setting>
	<setting name="ColorUIAccessProcesses">aaff</setting>
	<setting name="ColorUnknown">8080ff</setting>
	<setting name="ColorUserThreadStack">aaffff</setting>
	<setting name="ColorWow64Processes">8f8fbc</setting>
	<setting name="DbgHelpSearchPath"/>
	<setting name="DbgHelpUndecorate">1</setting>
	<setting name="DisabledPlugins"/>
	<setting name="ElevationLevel">1</setting>
	<setting name="EnableAdvancedOptions">1</setting>
	<setting name="EnableArmCycleCpuUsage">0</setting>
	<setting name="EnableAvxSupport">0</setting>
	<setting name="EnableBitmapSupport">1</setting>
	<setting name="EnableBootObjectsEnumerate">0</setting>
	<setting name="EnableBreakOnTermination">0</setting>
	<setting name="EnableCommandLineTooltips">0</setting>
	<setting name="EnableCycleCpuUsage">1</setting>
	<setting name="EnableDefaultSafePlugins">1</setting>
	<setting name="EnableDeferredLayout">1</setting>
	<setting name="EnableDeviceNotifySupport">1</setting>
	<setting name="EnableDeviceSupport">1</setting>
	<setting name="EnableGraphMaxScale">0</setting>
	<setting name="EnableGraphMaxText">1</setting>
	<setting name="EnableHandleSnapshot">1</setting>
	<setting name="EnableHeapMemoryTagging">0</setting>
	<setting name="EnableHeapReflection">0</setting>
	<setting name="EnableImageCoherencySupport">0</setting>
	<setting name="EnableInstantTooltips">0</setting>
	<setting name="EnableKph">1</setting>
	<setting name="EnableKphWarnings">1</setting>
	<setting name="EnableLastProcessShutdown">0</setting>
	<setting name="EnableLinuxSubsystemSupport">0</setting>
	<setting name="EnableMemStringsTreeDialog">0</setting>
	<setting name="EnableMinidumpKernelMinidump">0</setting>
	<setting name="EnableMinidumpSnapshot">0</setting>
	<setting name="EnableMonospaceFont">0</setting>
	<setting name="EnableNetworkBoundConnections">1</setting>
	<setting name="EnableNetworkResolve">1</setting>
	<setting name="EnableNetworkResolveDoH">0</setting>
	<setting name="EnablePackageIconSupport">0</setting>
	<setting name="EnablePlugins">1</setting>
	<setting name="EnablePluginsNative">0</setting>
	<setting name="EnableProcessHandlePnPDeviceNameSupport">0</setting>
	<setting name="EnableSecurityAdvancedDialog">1</setting>
	<setting name="EnableServiceNonPoll">0</setting>
	<setting name="EnableServiceNonPollNotify">1</setting>
	<setting name="EnableServiceProgressDialog">1</setting>
	<setting name="EnableServiceStage2">0</setting>
	<setting name="EnableShellExecuteSkipIfeoDebugger">1</setting>
	<setting name="EnableShortRelativeStartTime">1</setting>
	<setting name="EnableShutdownBootMenu">1</setting>
	<setting name="EnableShutdownCriticalMenu">0</setting>
	<setting name="EnableSilentCrashNotify">0</setting>
	<setting name="EnableStage2">1</setting>
	<setting name="EnableStartAsAdmin">0</setting>
	<setting name="EnableStartAsAdminAlwaysOnTop">0</setting>
	<setting name="EnableStreamerMode">0</setting>
	<setting name="EnableThemeAcrylicSupport">1</setting>
	<setting name="EnableThemeAcrylicWindowSupport">0</setting>
	<setting name="EnableThemeAnimation">1</setting>
	<setting name="EnableThemeNativeButtons">0</setting>
	<setting name="EnableThemeSupport">0</setting>
	<setting name="EnableThreadStackInlineSymbols">1</setting>
	<setting name="EnableThreadStackLineInformation">1</setting>
	<setting name="EnableTokenRemovedPrivileges">0</setting>
	<setting name="EnableTooltipSupport">1</setting>
	<setting name="EnableUpdateDefaultFirmwareBootEntry">1</setting>
	<setting name="EnableVersionSupport">1</setting>
	<setting name="EnableWarnings">1</setting>
	<setting name="EnableWarningsRunas">1</setting>
	<setting name="EnableWindowText">1</setting>
	<setting name="EnvironmentTreeListColumns">@96|0,0,359|1,1,1127</setting>
	<setting name="EnvironmentTreeListFlags">170</setting>
	<setting name="EnvironmentTreeListSort">0,0</setting>
	<setting name="FileBrowseExecutable">%SystemRoot%\explorer.exe /select,"%s"</setting>
	<setting name="FindObjRegex">0</setting>
	<setting name="FindObjTreeListColumns">@96|0,0,184|1,1,100|2,2,392|3,3,80</setting>
	<setting name="FindObjWindowPosition">364,171</setting>
	<setting name="FindObjWindowSize">@96|552,418</setting>
	<setting name="FirstRun">0</setting>
	<setting name="Font"/>
	<setting name="FontMonospace"/>
	<setting name="ForceNoParent">1</setting>
	<setting name="GraphColorMode">0</setting>
	<setting name="GraphShowText">1</setting>
	<setting name="HandlePropertiesWindowPosition">409,151</setting>
	<setting name="HandlePropertiesWindowSize">@96|260,260</setting>
	<setting name="HandleStatisticsListViewColumns">@96|0,140|1,100</setting>
	<setting name="HandleStatisticsListViewSort">0,1</setting>
	<setting name="HandleStatisticsWindowSize">@96|345,323</setting>
	<setting name="HandleTreeListColumns">@96|0,0,119|1,1,425|2,6,48|3,7,112|4,3,60|5,5,86|6,2,196|7,8,848|8,4,50</setting>
	<setting name="HandleTreeListFlags">1</setting>
	<setting name="HandleTreeListSort">2,1</setting>
	<setting name="HiddenProcessesListViewColumns"/>
	<setting name="HiddenProcessesMenuEnabled">0</setting>
	<setting name="HiddenProcessesWindowPosition">400,400</setting>
	<setting name="HiddenProcessesWindowSize">@96|520,400</setting>
	<setting name="HideDefaultServices">0</setting>
	<setting name="HideDriverServices">0</setting>
	<setting name="HideFreeRegions">1</setting>
	<setting name="HideMicrosoftProcesses">0</setting>
	<setting name="HideOnClose">0</setting>
	<setting name="HideOnMinimize">0</setting>
	<setting name="HideOtherUserProcesses">0</setting>
	<setting name="HideSignedProcesses">0</setting>
	<setting name="HideWaitingConnections">0</setting>
	<setting name="HighlightingDuration">ea60</setting>
	<setting name="IconBalloonMuteSound">0</setting>
	<setting name="IconBalloonShowIcon">0</setting>
	<setting name="IconIgnoreBalloonClick">0</setting>
	<setting name="IconNotifyMask">c</setting>
	<setting name="IconProcesses">f</setting>
	<setting name="IconSettings">2|1||4|1|</setting>
	<setting name="IconSingleClick">0</setting>
	<setting name="IconTogglesVisibility">1</setting>
	<setting name="IconTransparencyEnabled">0</setting>
	<setting name="IconTrayGuids"/>
	<setting name="IconTrayLazyStartDelay">1</setting>
	<setting name="IconTrayPersistGuidEnabled">0</setting>
	<setting name="ImageCoherencyScanLevel">1</setting>
	<setting name="InformationWindowPosition">444,271</setting>
	<setting name="InformationWindowSize">@96|492,338</setting>
	<setting name="JobListViewColumns">@96|0,134|1,160</setting>
	<setting name="KphAltitude">385400</setting>
	<setting name="KphDisableImageLoadProtection">0</setting>
	<setting name="KphObjectName"/>
	<setting name="KphPortName"/>
	<setting name="KphRandomizedPoolTag">0</setting>
	<setting name="KphServiceName"/>
	<setting name="KsiAltitude">385210.5</setting>
	<setting name="KsiClientProcessProtectionLevel">0</setting>
	<setting name="KsiDisableImageLoadProtection">0</setting>
	<setting name="KsiDynDataNoEmbedded">0</setting>
	<setting name="KsiEnable">1</setting>
	<setting name="KsiEnableFsFeatureBypassIO">1</setting>
	<setting name="KsiEnableFsFeatureOffloadRead">1</setting>
	<setting name="KsiEnableFsFeatureOffloadWrite">1</setting>
	<setting name="KsiEnableFsFeatureQueryOpen">1</setting>
	<setting name="KsiEnableLoadFilter">0</setting>
	<setting name="KsiEnableLoadNative">0</setting>
	<setting name="KsiEnableSplashScreen">0</setting>
	<setting name="KsiEnableUnloadProtection">0</setting>
	<setting name="KsiEnableWarnings">1</setting>
	<setting name="KsiObjectName"/>
	<setting name="KsiPortName"/>
	<setting name="KsiPreviousTemporaryDriverFile"/>
	<setting name="KsiRandomizedPoolTag">0</setting>
	<setting name="KsiServiceName"/>
	<setting name="KsiUnloadOnExit">0</setting>
	<setting name="KsiUnloadOnExitTest">0</setting>
	<setting name="LogEntries">200</setting>
	<setting name="LogListViewColumns">@96|0,119|1,395</setting>
	<setting name="LogWindowPosition">397,114</setting>
	<setting name="LogWindowSize">@96|486,531</setting>
	<setting name="MainWindowAlwaysOnTop">0</setting>
	<setting name="MainWindowClassName">MainWindowClassName</setting>
	<setting name="MainWindowOpacity">0</setting>
	<setting name="MainWindowPosition">0,205</setting>
	<setting name="MainWindowSize">@96|743,500</setting>
	<setting name="MainWindowState">3</setting>
	<setting name="MainWindowTabRestoreEnabled">0</setting>
	<setting name="MainWindowTabRestoreIndex">0</setting>
	<setting name="MaxPrecisionUnit">2</setting>
	<setting name="MaxSizeUnit">4</setting>
	<setting name="MemEditBytesPerRow">10</setting>
	<setting name="MemEditGotoChoices"/>
	<setting name="MemEditPosition">301,148</setting>
	<setting name="MemEditSize">@96|678,476</setting>
	<setting name="MemFilterChoices"/>
	<setting name="MemoryListFlags">bc</setting>
	<setting name="MemoryListsWindowPosition">400,400</setting>
	<setting name="MemoryModifiedListViewColumns">@96|0,50|1,100|2,100|3,100|4,100|5,712</setting>
	<setting name="MemoryModifiedListViewSort">0,0</setting>
	<setting name="MemoryModifiedWindowPosition">391,141</setting>
	<setting name="MemoryModifiedWindowSize">@96|543,538</setting>
	<setting name="MemoryReadWriteAddressChoices"/>
	<setting name="MemoryTreeListColumns">@96|0,0,136|1,1,103|2,2,80|3,3,60|4,4,200|5,5,80|6,6,80|7,7,80|8,8,80|9,9,80|10,10,80|11,14,80|12,16,80|13,12,80|14,11,80|15,15,119|16,13,80</setting>
	<setting name="MemoryTreeListSort">0,1</setting>
	<setting name="MemResultsListViewColumns">@96|0,120|1,120|2,80|3,1422</setting>
	<setting name="MemResultsPosition">300,240</setting>
	<setting name="MemResultsSize">@96|500,520</setting>
	<setting name="MemStringsMinimumLength">a</setting>
	<setting name="MemStringsTreeListColumns"/>
	<setting name="MemStringsTreeListFlags">b</setting>
	<setting name="MemStringsTreeListSort">0,1</setting>
	<setting name="MemStringsWindowPosition">0,0</setting>
	<setting name="MemStringsWindowSize">@96|550,420</setting>
	<setting name="MiniInfoContainerClassName">MiniInfoContainerClassName</setting>
	<setting name="MiniInfoWindowClassName">MiniInfoWindowClassName</setting>
	<setting name="MiniInfoWindowEnabled">1</setting>
	<setting name="MiniInfoWindowOpacity">0</setting>
	<setting name="MiniInfoWindowPinned">0</setting>
	<setting name="MiniInfoWindowPosition">912,494</setting>
	<setting name="MiniInfoWindowRefreshAutomatically">1</setting>
	<setting name="MiniInfoWindowSize">@96|368,266</setting>
	<setting name="ModuleTreeListColumns">@96|0,0,408|1,1,138|2,2,70|3,3,160|5,7,239|7,6,80|8,4,65|15,5,124|23,8,833</setting>
	<setting name="ModuleTreeListFlags">d5e1</setting>
	<setting name="ModuleTreeListSort">1,1</setting>
	<setting name="NetworkTreeListColumns">@96|0,0,137|1,1,42|2,2,103|3,3,81|4,4,112|5,5,56|6,7,89|7,8,81|9,17,144|11,6,238|+ProcessHacker.ExtendedTools+1,15,88|+ProcessHacker.ExtendedTools+2,16,88|+ProcessHacker.ExtendedTools+3,12,88|+ProcessHacker.ExtendedTools+4,13,88|+ProcessHacker.ExtendedTools+5,14,88|+ProcessHacker.ExtendedTools+12,10,94|+ProcessHacker.ExtendedTools+13,9,89|+ProcessHacker.ExtendedTools+14,11,95</setting>
	<setting name="NetworkTreeListSort">3,1</setting>
	<setting name="NonPollFlushInterval">a</setting>
	<setting name="NoPurgeProcessRecords">0</setting>
	<setting name="OptionsCustomColorList"/>
	<setting name="OptionsWindowAdvancedColumns">@96|0,0,200|1,1,100|2,2,200|3,3,200</setting>
	<setting name="OptionsWindowAdvancedFlags">0</setting>
	<setting name="OptionsWindowPosition">314,160</setting>
	<setting name="OptionsWindowSize">@96|651,440</setting>
	<setting name="PageFileListViewColumns">@96|0,120|1,100|2,100|3,100|4,100|5,100</setting>
	<setting name="PageFileWindowPosition">390,229</setting>
	<setting name="PageFileWindowSize">@96|499,302</setting>
	<setting name="PluginManagerTreeListColumns">@96|0,0,1429</setting>
	<setting name="ProcessHacker.DotNetTools.AsmTreeListColumns">@96|0,0,240|1,1,91|2,2,80|3,3,600</setting>
	<setting name="ProcessHacker.DotNetTools.AsmTreeListFlags">0</setting>
	<setting name="ProcessHacker.DotNetTools.AsmTreeListSort">0,0</setting>
	<setting name="ProcessHacker.DotNetTools.DotNetCategoryIndex">5</setting>
	<setting name="ProcessHacker.DotNetTools.DotNetListColumns">@96|0,250|1,140</setting>
	<setting name="ProcessHacker.DotNetTools.DotNetListGroupStates">8|0|0|1|0|2|0|3|0|4|0|5|0|6|0|7|0</setting>
	<setting name="ProcessHacker.DotNetTools.DotNetListSort">0,1</setting>
	<setting name="ProcessHacker.DotNetTools.DotNetVerifySignature">1</setting>
	<setting name="ProcessHacker.ExtendedNotifications.DeviceList">\i*</setting>
	<setting name="ProcessHacker.ExtendedNotifications.LogFileName"/>
	<setting name="ProcessHacker.ExtendedNotifications.ProcessList">\i*</setting>
	<setting name="ProcessHacker.ExtendedNotifications.ServiceList">\eDeviceAssociationBroker*\eConsentU*\eCaptureService*\ePrintWorkflow*\eUnistoreSvc*\eUserDataSvc*\eDevicesFlow*\eWpnUserService*\i*</setting>
	<setting name="ProcessHacker.ExtendedServices.EnableServicesMenu">1</setting>
	<setting name="ProcessHacker.ExtendedTools.BigPoolWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.BigPoolWindowSize">@96|510,380</setting>
	<setting name="ProcessHacker.ExtendedTools.DiskTreeListColumns">@96|0,0,150|1,1,53|2,2,592|3,3,131|4,4,134|5,5,131|6,7,56|7,6,29|8,8,1061</setting>
	<setting name="ProcessHacker.ExtendedTools.DiskTreeListSort">5,2</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableDiskPerformanceCounters">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableEtwMonitor">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableFahrenheit">0</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableFpsMonitor">0</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableGpuMonitor">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableGpuPerformanceCounters">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableNpuMonitor">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableNpuPerformanceCounters">1</setting>
	<setting name="ProcessHacker.ExtendedTools.EnableSysInfoGraphs">1</setting>
	<setting name="ProcessHacker.ExtendedTools.FirmwareListViewColumns"/>
	<setting name="ProcessHacker.ExtendedTools.FirmwareWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.FirmwareWindowSize">@96|490,340</setting>
	<setting name="ProcessHacker.ExtendedTools.FirstRun">0</setting>
	<setting name="ProcessHacker.ExtendedTools.FwIgnoreAllow">0</setting>
	<setting name="ProcessHacker.ExtendedTools.FwIgnoreLoopback">1</setting>
	<setting name="ProcessHacker.ExtendedTools.FwIgnorePortScan">0</setting>
	<setting name="ProcessHacker.ExtendedTools.FwSessionGuid">{0966f4d0-61d8-4ab3-b424-ea1f6968cff4}</setting>
	<setting name="ProcessHacker.ExtendedTools.FwTreeColumns">@96|0,0,113|1,1,65|2,2,75|3,3,105|4,4,136|5,5,129|6,6,53|7,7,56|8,8,291|9,9,60|10,10,306|11,11,71|12,12,155</setting>
	<setting name="ProcessHacker.ExtendedTools.FwTreeSort">12,2</setting>
	<setting name="ProcessHacker.ExtendedTools.GpuDetailsWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.GpuDetailsWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.ExtendedTools.GpuNodesWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.GpuNodesWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.ExtendedTools.ModuleServiceListColumns"/>
	<setting name="ProcessHacker.ExtendedTools.ModuleServiceWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.ModuleServiceWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.ExtendedTools.NpuNodesWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.NpuNodesWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerHistory">\||\BaseNamedObjects||\Device||\KernelObjects||\ObjectTypes</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerLastPath">\</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerPropertiesWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerWindowColumns">@96|0,620|1,150</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerWindowListSort">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerWindowPosition">107,64</setting>
	<setting name="ProcessHacker.ExtendedTools.ObjectManagerWindowSize">@96|1065,631</setting>
	<setting name="ProcessHacker.ExtendedTools.PipeEnumListViewColumns">@96|0,40|1,200|2,50|3,80|4,80|5,80|6,80|7,80|8,80|9,80|10,80|11,80|12,80</setting>
	<setting name="ProcessHacker.ExtendedTools.PipeEnumListViewColumnsWithKph"/>
	<setting name="ProcessHacker.ExtendedTools.PipeEnumListViewColumnsWithKsi"/>
	<setting name="ProcessHacker.ExtendedTools.PipeEnumWindowPosition">388,214</setting>
	<setting name="ProcessHacker.ExtendedTools.PipeEnumWindowSize">@96|504,332</setting>
	<setting name="ProcessHacker.ExtendedTools.PoolTreeViewColumns">@96|0,0,50|1,1,82|2,2,140|3,3,80|4,4,80|5,5,80|6,6,80|7,7,80|8,8,80|9,9,80|10,10,80</setting>
	<setting name="ProcessHacker.ExtendedTools.PoolTreeViewSort">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.PoolWindowPosition">151,49</setting>
	<setting name="ProcessHacker.ExtendedTools.PoolWindowSize">@96|978,661</setting>
	<setting name="ProcessHacker.ExtendedTools.ReparseListViewColumns">@96|0,40|1,100|2,100|3,521</setting>
	<setting name="ProcessHacker.ExtendedTools.ReparseObjidListViewColumns">@96|0,40|1,223|2,232|3,725</setting>
	<setting name="ProcessHacker.ExtendedTools.ReparseSdListViewColumns">@96|0,40|1,135|2,50|3,100|4,80|5,150|6,250</setting>
	<setting name="ProcessHacker.ExtendedTools.ReparseWindowPosition">388,214</setting>
	<setting name="ProcessHacker.ExtendedTools.ReparseWindowSize">@96|504,332</setting>
	<setting name="ProcessHacker.ExtendedTools.SMBIOSListViewColumns"/>
	<setting name="ProcessHacker.ExtendedTools.SMBIOSShowUndefinedTypes">0</setting>
	<setting name="ProcessHacker.ExtendedTools.SMBIOSWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.SMBIOSWindowSize">@96|490,340</setting>
	<setting name="ProcessHacker.ExtendedTools.ToolbarShowSystemInfoGraph">1</setting>
	<setting name="ProcessHacker.ExtendedTools.TpmListViewColumns"/>
	<setting name="ProcessHacker.ExtendedTools.TpmWindowPosition">0,0</setting>
	<setting name="ProcessHacker.ExtendedTools.TpmWindowSize">@96|490,340</setting>
	<setting name="ProcessHacker.ExtendedTools.TracertWindowPosition">375,145</setting>
	<setting name="ProcessHacker.ExtendedTools.TracertWindowSize">@96|529,470</setting>
	<setting name="ProcessHacker.ExtendedTools.TrayIconGuids"/>
	<setting name="ProcessHacker.ExtendedTools.UnloadedListColumns">@96|0,40|1,120|2,80|3,60|4,100|5,60</setting>
	<setting name="ProcessHacker.ExtendedTools.WaitChainTreeListColumns">@96|0,0,110|1,3,80|2,8,91|3,6,60|4,7,55|5,2,59|6,1,56|7,5,64|8,4,96</setting>
	<setting name="ProcessHacker.ExtendedTools.WaitChainWindowPosition">181,126</setting>
	<setting name="ProcessHacker.ExtendedTools.WaitChainWindowSize">@96|722,453</setting>
	<setting name="ProcessHacker.ExtendedTools.WsWatchListColumns">@96|0,250|1,80|2,80</setting>
	<setting name="ProcessHacker.ExtendedTools.WsWatchWindowPosition">388,144</setting>
	<setting name="ProcessHacker.ExtendedTools.WsWatchWindowSize">@96|504,471</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceArrived">ff7f</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceDisabled">6d6d6d</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceDisconnected">6d6d6d</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceHighlight">aaff</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceInterface">ffccaa</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDeviceProblem">283cff</setting>
	<setting name="ProcessHacker.HardwareDevices.ColorDisabledDeviceInterface">886644</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceGeneralColumns"/>
	<setting name="ProcessHacker.HardwareDevices.DeviceHighlightingDuration">bb8</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceInterfacesColumns"/>
	<setting name="ProcessHacker.HardwareDevices.DevicePropertiesColumns"/>
	<setting name="ProcessHacker.HardwareDevices.DevicePropertiesPosition">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.DevicePropertiesPossition">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.DevicePropertiesSize">@96|300,200</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeAutoRefresh">1</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeColumns">@96|0,0,500|1,1,225|2,2,150|3,3,150|4,4,100|5,5,200</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeHighlightLowerFiltered">0</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeHighlightUpperFiltered">0</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeShowDisconnected">0</setting>
	<setting name="ProcessHacker.HardwareDevices.DeviceTreeSort">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.DiskList"/>
	<setting name="ProcessHacker.HardwareDevices.DiskListColumns"/>
	<setting name="ProcessHacker.HardwareDevices.DiskWindowPosition">100,100</setting>
	<setting name="ProcessHacker.HardwareDevices.DiskWindowSize">@96|309,265</setting>
	<setting name="ProcessHacker.HardwareDevices.EnableNDIS">1</setting>
	<setting name="ProcessHacker.HardwareDevices.GraphicsDetailsWindowPosition">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.GraphicsDetailsWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.HardwareDevices.GraphicsList"/>
	<setting name="ProcessHacker.HardwareDevices.GraphicsNodesWindowPosition">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.GraphicsNodesWindowSize">@96|850,490</setting>
	<setting name="ProcessHacker.HardwareDevices.GraphicsUniqueIndices">1</setting>
	<setting name="ProcessHacker.HardwareDevices.NetworkList"/>
	<setting name="ProcessHacker.HardwareDevices.NetworkListColumns"/>
	<setting name="ProcessHacker.HardwareDevices.NetworkListSort"/>
	<setting name="ProcessHacker.HardwareDevices.NetworkWindowPosition">0,0</setting>
	<setting name="ProcessHacker.HardwareDevices.NetworkWindowSize">@96|309,265</setting>
	<setting name="ProcessHacker.HardwareDevices.RaplList"/>
	<setting name="ProcessHacker.HardwareDevices.ShowDeviceInterfaces">0</setting>
	<setting name="ProcessHacker.HardwareDevices.ShowDisabledDeviceInterfaces">0</setting>
	<setting name="ProcessHacker.HardwareDevices.ShowRootDevice">0</setting>
	<setting name="ProcessHacker.HardwareDevices.ShowSoftwareComponents">1</setting>
	<setting name="ProcessHacker.HardwareDevices.SmartListColumns"/>
	<setting name="ProcessHacker.HardwareDevices.SortDeviceChildrenByName">1</setting>
	<setting name="ProcessHacker.NetworkTools.AddressHistory">147.185.132.186\shifile.app\sdlubal.com\sdlubal.eu\sveronikastrouhalova.cz\s87.236.176.140\s84.16.47.107:53955\s152.53.17.175\s109.81.117.252\sexpandtelecom.net.br</setting>
	<setting name="ProcessHacker.NetworkTools.EnableExtendedTcpStats">0</setting>
	<setting name="ProcessHacker.NetworkTools.MaxMindApiId"/>
	<setting name="ProcessHacker.NetworkTools.MaxMindApiKey"/>
	<setting name="ProcessHacker.NetworkTools.MaxMindType">0</setting>
	<setting name="ProcessHacker.NetworkTools.PingMinScaling">c8</setting>
	<setting name="ProcessHacker.NetworkTools.PingSize">20</setting>
	<setting name="ProcessHacker.NetworkTools.PingTimeout">3e8</setting>
	<setting name="ProcessHacker.NetworkTools.PingWindowPosition">729,242</setting>
	<setting name="ProcessHacker.NetworkTools.PingWindowSize">@96|410,303</setting>
	<setting name="ProcessHacker.NetworkTools.TracertMaxHops">14</setting>
	<setting name="ProcessHacker.NetworkTools.TracertTreeColumns">@96|0,0,30|1,1,70|2,2,70|3,3,70|4,4,70|5,5,140|6,6,225|7,7,275</setting>
	<setting name="ProcessHacker.NetworkTools.TracertTreeSort">0,1</setting>
	<setting name="ProcessHacker.NetworkTools.TracertWindowPosition">245,182</setting>
	<setting name="ProcessHacker.NetworkTools.TracertWindowSize">@96|868,545</setting>
	<setting name="ProcessHacker.NetworkTools.WhoisProtocalSupport">0</setting>
	<setting name="ProcessHacker.NetworkTools.WhoisWindowPosition">340,186</setting>
	<setting name="ProcessHacker.NetworkTools.WhoisWindowSize">@96|600,387</setting>
	<setting name="ProcessHacker.OnlineChecks.EnableVirusTotalScanning">0</setting>
	<setting name="ProcessHacker.OnlineChecks.HybridAnalysisDefautPAT"/>
	<setting name="ProcessHacker.OnlineChecks.VirusTotalDefautAction">0</setting>
	<setting name="ProcessHacker.OnlineChecks.VirusTotalDefautPAT"/>
	<setting name="ProcessHacker.OnlineChecks.VirusTotalHighlightDetection">0</setting>
	<setting name="ProcessHacker.ToolStatus.Config">1f</setting>
	<setting name="ProcessHacker.ToolStatus.DelayConfig">3</setting>
	<setting name="ProcessHacker.ToolStatus.EnableChildWildcardSearch">0</setting>
	<setting name="ProcessHacker.ToolStatus.RebarConfig"/>
	<setting name="ProcessHacker.ToolStatus.RestoreSelectionAfterSearch">0</setting>
	<setting name="ProcessHacker.ToolStatus.SearchBoxDisplayMode">0</setting>
	<setting name="ProcessHacker.ToolStatus.StatusbarConfig">6|1|3|14|4|5|6</setting>
	<setting name="ProcessHacker.ToolStatus.TaskbarDisplayStyle">0</setting>
	<setting name="ProcessHacker.ToolStatus.ToolbarButtonConfig"/>
	<setting name="ProcessHacker.ToolStatus.ToolbarDisplayStyle">1</setting>
	<setting name="ProcessHacker.ToolStatus.ToolbarGraphConfig"/>
	<setting name="ProcessHacker.ToolStatus.ToolbarShowSystemInfoGraph">1</setting>
	<setting name="ProcessHacker.UpdateChecker.AutoCheckPage">0</setting>
	<setting name="ProcessHacker.UpdateChecker.ChangelogListColumns">@96|0,120|1,100|2,250|3,100</setting>
	<setting name="ProcessHacker.UpdateChecker.ChangelogListSort">0,1</setting>
	<setting name="ProcessHacker.UpdateChecker.ChangelogWindowPosition">425,255</setting>
	<setting name="ProcessHacker.UpdateChecker.ChangelogWindowSize">@96|480,325</setting>
	<setting name="ProcessHacker.UpdateChecker.LastUpdateCheckTime">133830771967767489</setting>
	<setting name="ProcessHacker.UpdateChecker.PromptStart">1</setting>
	<setting name="ProcessHacker.UpdateChecker.UpdateAvailable">0</setting>
	<setting name="ProcessHacker.UpdateChecker.UpdateData"/>
	<setting name="ProcessHacker.UpdateChecker.UpdateMode">0</setting>
	<setting name="ProcessHacker.UserNotes.ColorCustomList"/>
	<setting name="ProcessHacker.UserNotes.DbListColumns">@96|0,40|1,100|2,100|3,100|4,80|5,80|6,80|7,80|8,80|9,80|10,80</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableAltEnumWindow">1</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableAlternateEnumWindow">0</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableIcons">1</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableIconsInternal">0</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableWindowIcons">0</setting>
	<setting name="ProcessHacker.WindowExplorer.EnableWindowPreview">0</setting>
	<setting name="ProcessHacker.WindowExplorer.ShowDesktopWindows">0</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsPropertyColumns">@120|0,225|1,263</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsPropertyPosition">94,147</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsPropertySize">@120|558,590</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsPropListColumns">@96|0,80|1,160|2,100|3,100</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsPropStorageColumns">@96|0,80|1,160|2,100</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsWindowPosition">296,109</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowsWindowSize">@96|687,541</setting>
	<setting name="ProcessHacker.WindowExplorer.WindowTreeListColumns">@96|0,0,180|1,1,70|2,2,220|3,3,150|4,4,150</setting>
	<setting name="ProcessServiceListViewColumns">@96|0,120|1,220|2,258</setting>
	<setting name="ProcessTreeColumnSetConfig"/>
	<setting name="ProcessTreeListColumns">@96|0,0,307|1,1,64|2,3,69|3,9,79|4,5,99|5,6,74|6,8,180|20,7,25|22,4,45|46,2,100|+ProcessHacker.ExtendedTools+29,10,84|+ProcessHacker.ExtendedTools+32,11,107</setting>
	<setting name="ProcessTreeListNameDefault">1</setting>
	<setting name="ProcessTreeListSort">0,0</setting>
	<setting name="ProcPropPage">Threads</setting>
	<setting name="ProcPropPosition">63,75</setting>
	<setting name="ProcPropSize">@96|1179,640</setting>
	<setting name="ProcStatPropPageGroupListViewColumns">@96|0,135|1,150|2,150|3,150|4,150</setting>
	<setting name="ProcStatPropPageGroupListViewSort">0,0</setting>
	<setting name="ProcStatPropPageGroupStates">8|0|0|1|0|2|0|3|0|4|0|5|0|6|0|7|0</setting>
	<setting name="ProgramInspectExecutables">peview.exe "%s"</setting>
	<setting name="PropagateCpuUsage">0</setting>
	<setting name="ReleaseChannel">2</setting>
	<setting name="RunAsEnableAutoComplete">0</setting>
	<setting name="RunAsPackageWindowPosition">394,166</setting>
	<setting name="RunAsPackageWindowSize">@96|492,427</setting>
	<setting name="RunAsProgram"/>
	<setting name="RunAsUserName">NT AUTHORITY\NETWORK SERVICE</setting>
	<setting name="RunAsWindowPosition">412,257</setting>
	<setting name="RunFileDlgState">1</setting>
	<setting name="SampleCount">280</setting>
	<setting name="SampleCountAutomatic">1</setting>
	<setting name="ScrollToNewProcesses">0</setting>
	<setting name="ScrollToRemovedProcesses">0</setting>
	<setting name="SearchControlCaseSensitive">0</setting>
	<setting name="SearchControlRegex">0</setting>
	<setting name="SearchEngine">https://duckduckgo.com/?q="%s"</setting>
	<setting name="SegmentHeapListViewColumns">@120|0,50|1,131|2,150|3,150|4,100|5,176|6,121|7,116</setting>
	<setting name="SegmentHeapListViewSort">0,1</setting>
	<setting name="SegmentHeapWindowPosition">123,143</setting>
	<setting name="SegmentHeapWindowSize">@120|1069,506</setting>
	<setting name="ServiceListViewColumns"/>
	<setting name="ServiceTreeListColumns">@96|0,0,140|1,1,220|2,2,100|3,3,70|4,4,130|5,5,50|6,6,180|7,9,70|8,11,100|9,8,200|10,12,140|11,14,70|12,15,100|13,10,100|14,13,100|+ProcessHacker.OnlineChecks+3,16,140|+ProcessHacker.UserNotes+1,7,120</setting>
	<setting name="ServiceTreeListSort">0,1</setting>
	<setting name="ServiceWindowPosition">410,140</setting>
	<setting name="SessionShadowHotkey">106,2</setting>
	<setting name="ShowCommitInSummary">1</setting>
	<setting name="ShowCpuBelow001">1</setting>
	<setting name="ShowHexId">0</setting>
	<setting name="ShowPluginLoadErrors">1</setting>
	<setting name="StartHidden">0</setting>
	<setting name="SysInfoShowCpuSpeedMhz">0</setting>
	<setting name="SysInfoWindowAlwaysOnTop">0</setting>
	<setting name="SysInfoWindowOneGraphPerCpu">0</setting>
	<setting name="SysInfoWindowPosition">153,18</setting>
	<setting name="SysInfoWindowSection">Memory</setting>
	<setting name="SysInfoWindowSize">@96|1038,742</setting>
	<setting name="SysInfoWindowState">3</setting>
	<setting name="TaskmgrWindowState">0</setting>
	<setting name="ThemeWindowBackground2Color">414141</setting>
	<setting name="ThemeWindowBackgroundColor">2b2b2b</setting>
	<setting name="ThemeWindowForegroundColor">1c1c1c</setting>
	<setting name="ThemeWindowHighlight2Color">8f8f8f</setting>
	<setting name="ThemeWindowHighlightColor">808080</setting>
	<setting name="ThemeWindowTextColor">ffffff</setting>
	<setting name="ThinRows">0</setting>
	<setting name="ThreadStacksTreeListColumns">@96|0,0,250|1,1,80|2,2,80|3,3,80|14,4,100|19,5,250</setting>
	<setting name="ThreadStacksWindowPosition">575,286</setting>
	<setting name="ThreadStacksWindowSize">@96|681,452</setting>
	<setting name="ThreadStackTreeListColumns">@96|0,0,40|1,1,494|2,8,100|3,5,100|4,9,100|5,10,100|6,11,108|7,12,108|8,13,110|9,7,100|10,4,683|11,3,535|12,2,30|13,6,100</setting>
	<setting name="ThreadStackWindowSize">@96|654,620</setting>
	<setting name="ThreadTreeListColumns">@96|0,0,50|1,1,45|2,2,84|3,3,191|4,4,49|5,17,100|6,7,100|11,6,19|12,5,26|16,14,112|17,12,78|18,11,78|23,16,50|24,15,50|25,8,180|26,9,100|33,10,127|34,13,78</setting>
	<setting name="ThreadTreeListFlags">60</setting>
	<setting name="ThreadTreeListSort">0,1</setting>
	<setting name="ToastNotifyEnabled">0</setting>
	<setting name="TokenGroupsListViewColumns">@96|0,333|1,103|2,339|3,270|4,98|5,100</setting>
	<setting name="TokenGroupsListViewSort">0,1</setting>
	<setting name="TokenGroupsListViewStates">4|0|0|1|0|2|0|3|0</setting>
	<setting name="TokenPrivilegesListViewColumns"/>
	<setting name="TokenWindowPosition">437,149</setting>
	<setting name="TokenWindowSize">@96|406,462</setting>
	<setting name="TreeListBorderEnable">0</setting>
	<setting name="TreeListCustomColorFocus">0</setting>
	<setting name="TreeListCustomColorSelection">0</setting>
	<setting name="TreeListCustomColorsEnable">0</setting>
	<setting name="TreeListCustomColorText">0</setting>
	<setting name="TreeListCustomRowSize">0</setting>
	<setting name="TreeListEnableHeaderTotals">1</setting>
	<setting name="UpdateInterval">7d0</setting>
	<setting name="UseColorBackgroundProcesses">0</setting>
	<setting name="UseColorDebuggedProcesses">1</setting>
	<setting name="UseColorDotNet">1</setting>
	<setting name="UseColorEfficiencyMode">1</setting>
	<setting name="UseColorElevatedProcesses">1</setting>
	<setting name="UseColorGuiThreads">1</setting>
	<setting name="UseColorHandleFiltered">1</setting>
	<setting name="UseColorImmersiveProcesses">1</setting>
	<setting name="UseColorInheritHandles">1</setting>
	<setting name="UseColorInlineThreadStack">1</setting>
	<setting name="UseColorJobProcesses">0</setting>
	<setting name="UseColorLowImageCoherency">1</setting>
	<setting name="UseColorOwnProcesses">1</setting>
	<setting name="UseColorPacked">1</setting>
	<setting name="UseColorPartiallySuspended">0</setting>
	<setting name="UseColorPicoProcesses">1</setting>
	<setting name="UseColorProtectedHandles">1</setting>
	<setting name="UseColorProtectedInheritHandles">1</setting>
	<setting name="UseColorProtectedProcess">0</setting>
	<setting name="UseColorRelocatedModules">1</setting>
	<setting name="UseColorServiceDisabled">1</setting>
	<setting name="UseColorServiceProcesses">1</setting>
	<setting name="UseColorServiceStop">1</setting>
	<setting name="UseColorSuspended">1</setting>
	<setting name="UseColorSystemProcesses">1</setting>
	<setting name="UseColorSystemThreadStack">1</setting>
	<setting name="UseColorUIAccessProcesses">1</setting>
	<setting name="UseColorUnknown">1</setting>
	<setting name="UseColorUserThreadStack">1</setting>
	<setting name="UseColorWow64Processes">0</setting>
	<setting name="VdmHostListViewColumns"/>
	<setting name="WmiProviderEnableHiddenMenu">0</setting>
	<setting name="WmiProviderEnableTooltipSupport">0</setting>
	<setting name="WmiProviderTreeListColumns">@96|0,0,140|1,1,180|2,2,260|3,3,80</setting>
	<setting name="WmiProviderTreeListFlags">0</setting>
	<setting name="WmiProviderTreeListSort">0,0</setting>
	<setting name="ZombieProcessesListViewColumns">@96|0,320|1,60</setting>
	<setting name="ZombieProcessesWindowPosition">368,164</setting>
	<setting name="ZombieProcessesWindowSize">@96|520,400</setting>
</settings>
